<% content_for :page_title, @post.title %>


<section class="section">
<div class ="container">
<h1 class="title">
<%= @post.title %>
<div class="content">
<%= @post.content %>
</div>
</h1>
</div>

</section>

